.home {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    background: #FFFFFF;
}

.divFotoLisandro {
    display: flex;
}

.fotoLisandro {
    width: 577px;
    height: 640px;
    border-radius: 40px;
}

.cajaTitleHome {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    /* padding: 20px; */
    /* gap: 10px; */

    position: absolute;
    width: 420px;
    height: 214px;
    left: 565px;
    top: 145px;
    padding: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 99.99%, #E5E5E5 100%);
    border-radius: 20px;
}

.titleHome {
    width: 400px;
    height: 186px;

    font-family: 'Open Sans';
    font-style: normal;

    font-weight: 700;
    font-size: 68px;
    line-height: 92.6px;
    text-indent: 4px;

    color: #1A1A25;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.titleHome span{
    font-size: 68px;
    color: #436CFF;
}

.lineaHome {
    width: 152px;
    height: 0px;
    margin-top: 200px;
    margin-left: -305px;

    background: #436CFF;    
}

.parrafoSobreMi {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-transform: uppercase;

    color: #1A1A25; 
}
.parrafoSobreMi span{
    color: #436CFF;
    font-size: 20px;
    margin-right: 2px;
}

.lineaHome {
    
    width: 152px;
    height: 0px;
    margin-top: 200px;
    margin-left: -305px;

    background: #436CFF;

    
}

.parrafoSobreMi {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-transform: uppercase;

    color: #1A1A25;
    
}

.contenedorEscuelaDeFuerza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.subTituloHome {
    font-weight: 700;
    font-size: 36px;
    line-height: 43.57px;
    margin: 0;

    width: 300px;
    height: 88px;
   
    color: #1A1A25;
}

.inicioPresentacion {
    display: flex;
    flex-direction: row;
}

.textoPresentacion {
    width: 400px;
    height: 109px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;

    /* gris */

    color: rgba(26, 26, 37, 0.6);
}

.vector {
    display: flex;
    margin-bottom: -20px;
    
}

.leerMas {
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    margin-left: 20px;

    color: #436CFF;

    border: none;
    background: none;
    font-weight: 700;
    text-align: justify;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    cursor: pointer;
}

.comienzaTuEntrenamiento {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    margin: 10px;
    
    width: 284px;
    height: 50px;
    
    background: #436CFF;
    box-shadow: 0px 4px 20px #436CFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.textoBoton {
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: justify;

    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}

.numeroWhatsapp {
    text-decoration: none;
}



/* MEDIA QUERIES */

@media only screen and(max-width: 1400px){

}

@media only screen and(max-width: 1200px){

}

@media only screen and(max-width: 992px){
    
}

@media only screen and(max-width: 768px){
    .cajaTitleHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .titleHome{
        display: flex;
        flex-direction: column;
        width: 224px;
        height: 88px;

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        text-indent: 4px;

    }


    .home{
        display: flex;
        flex-direction: column;
    }


    .divFotoLisandro {
        display: flex;
        flex-direction: column;
    }

    .fotoLisandro{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 294px; 
        border-radius: 40px;    
    }
    

.contenedorEscuelaDeFuerza{
    display: flex;
    flex-direction: column;
}

}

@media only screen and(max-width: 576px){
    
    .cajaTitleHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .titleHome{
        display: flex;
        flex-direction: column;
        width: 224px;
        height: 88px;

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        text-indent: 4px;

    }

    .home{
        display: flex;
        flex-direction: column;
    }


    .divFotoLisandro {
        display: flex;
        flex-direction: column;
    }

    .fotoLisandro{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 294px; 
        border-radius: 40px;    
    }
    

.contenedorEscuelaDeFuerza{
    display: flex;
    flex-direction: column;
}

.numeroWhatsapp {
    text-decoration: none;
}



/* MEDIA QUERIES */

@media only screen and(max-width: 1400px){

}

@media only screen and(max-width: 1200px){

}

@media only screen and(max-width: 992px){
    
}

@media only screen and(max-width: 768px){
    .cajaTitleHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .titleHome{
        display: flex;
        flex-direction: column;
        width: 224px;
        height: 88px;

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        text-indent: 4px;

    }


    .home{
        display: flex;
        flex-direction: column;
    }


    .divFotoLisandro {
        display: flex;
        flex-direction: column;
    }

    .fotoLisandro{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 294px; 
        border-radius: 40px;    
    }
    

.contenedorEscuelaDeFuerza{
    display: flex;
    flex-direction: column;
}

}

@media only screen and(max-width: 576px){
    
    .cajaTitleHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .titleHome{
        display: flex;
        flex-direction: column;
        width: 224px;
        height: 88px;

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        text-indent: 4px;

    }

    .home{
        display: flex;
        flex-direction: column;
    }


    .divFotoLisandro {
        display: flex;
        flex-direction: column;
    }

    .fotoLisandro{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 294px; 
        border-radius: 40px;    
    }
    

.contenedorEscuelaDeFuerza{
    display: flex;
    flex-direction: column;
}
}}