.servicios{
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
<<<<<<< HEAD
    text-align: center;  
=======
    text-align: center; 
    /* padding-left: 180px; */
    
>>>>>>> c3c081fff57a4060474ff2ca49257a3cafa840c2
}

.tituloServicios {
    display: flex;
    text-align: center;
<<<<<<< HEAD
    /*width: 188px;
    height: 49px;*/
    padding-left: 650px;
    margin-top: 0px;
=======
    width: 188px;
    height: 49px;
    /* padding-left: 626px; */
    /* top: 2041px; */
>>>>>>> c3c081fff57a4060474ff2ca49257a3cafa840c2
    
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */

    text-transform: uppercase;

    color: #1A1A25;
}

.subtituloH5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0px;

/* gris */

color: rgba(26, 26, 37, 0.6);

}

.cajaContenedora {
    display: flex;
<<<<<<< HEAD
    flex-wrap: row;
    justify-content: center;
=======
    flex-direction: row;
    justify-content: center;
    gap: 80px;
>>>>>>> c3c081fff57a4060474ff2ca49257a3cafa840c2
    flex-wrap: wrap;
}

.contenedorMentorias {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    width: 370px;
<<<<<<< HEAD
    height: 793px;
=======
    height: 773px;
    /* left: 235px;
    top: 2175px; */
>>>>>>> c3c081fff57a4060474ff2ca49257a3cafa840c2

    background: #FFFFFF;
    box-shadow: 0px 4px 8px #436CFF;
    border-radius: 48px;

    padding-left: 70px;
    padding-top: 20px;
}

.subtituloMentorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 228px;
    height: 50px;
<<<<<<< HEAD
    
=======
    padding-left: calc(50% - 228px/2 - 306px);
    /* top: 2213px; */
>>>>>>> c3c081fff57a4060474ff2ca49257a3cafa840c2
    font-size: 32px;
    line-height: 44px;

    background: linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%);
    opacity: 0.9;
    border-radius: 100px;
}

.contenedorCursos {

    display: flex;
    flex-direction: column;
    align-items: center;
   
    width: 370px;
    height: 773px;
<<<<<<< HEAD
=======
    /* left: 835px;
    top: 2183px; */
>>>>>>> c3c081fff57a4060474ff2ca49257a3cafa840c2

    background: #FFFFFF;
    box-shadow: 0px 4px 8px #436CFF;
    border-radius: 48px;

    padding-left: 70px;
    margin-left: 200px;
    padding-top: 40px;

}


.contenedorSubtituloCursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 228px;
    height: 50px;
    left: calc(50% - 228px/2 + 304px);
<<<<<<< HEAD
=======
    /* top: 2221px; */
>>>>>>> c3c081fff57a4060474ff2ca49257a3cafa840c2

    background: linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%);
    opacity: 0.9;
    border-radius: 100px;
    
}

.subtituloCursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 228px;
    height: 50px;
<<<<<<< HEAD
    
=======
    left: calc(50% - 108px/2 + 304px);
    /* top: 2224px; */
>>>>>>> c3c081fff57a4060474ff2ca49257a3cafa840c2

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;

    color: #000008;
}

.parrafoMentorias {
    width: 302px;
    height: 342px;
<<<<<<< HEAD
=======
    /* left: 274px;
    top: 2296px; */
>>>>>>> c3c081fff57a4060474ff2ca49257a3cafa840c2

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    /* gris */

    color: rgba(26, 26, 37, 0.6);
    
}

.parrafoCursos {
    width: 302px;
    height: 342px;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-left: -25px;
    margin-top: 45px;

    /* gris */

    color: rgba(26, 26, 37, 0.6);
    
}

.cajaSaberMas {
    display: flex;
    margin-top: 25px;
    margin-left: 55px;
}

.cajaSaberMasMentorias {
    display: flex;
    margin-top: -45px;
    margin-left: 85px;
}


.textoSaberMas {
    width: 152px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.fotoMan {
    display: flex;
    margin-top: -5px;
}

.fotoWoman {
    display: flex;
    margin-top: -85px;
}

.womanSevicios {
    display: flex;
    width: 305px;
    height: 256px;
<<<<<<< HEAD
    
    /*left: 871px;
    top: 2548px; */
}

.whatsappWoman {
    display: flex;
    margin-top: 10px;
    margin-left: 115px;
}

.whatsappMan {
    display: flex;
    margin-top: 10px;
    margin-left: 135px;
=======
    /* left: 871px;
    top: 2548px; */
>>>>>>> c3c081fff57a4060474ff2ca49257a3cafa840c2
}





