.servicios{
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;  
    background: #FFFFFF;
}

.tituloServicios {
    display: flex;
    text-align: center;
    width: 188px;
    height: 49px;
    padding-left: 650px;
    margin-top: 0px;
    
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */

    text-transform: uppercase;

    color: #1A1A25;
}

.subtituloH5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0px;

/* gris */

color: rgba(26, 26, 37, 0.6);

}

.cajaContenedora {
    display: flex;
    flex-wrap: row;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.contenedorMentorias {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    width: 370px;
    height: 693px;

    background: #FFFFFF;
    box-shadow: 0px 4px 8px #436CFF;
    border-radius: 48px;

    padding-left: 70px;
    padding-top: 20px;
}

.subtituloMentorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 228px;
    height: 50px;
    
    font-size: 32px;
    line-height: 44px;
    margin-left: 40px;

    background: linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%);
    opacity: 0.9;
    border-radius: 100px;
}

.contenedorCursos {

    display: flex;
    flex-direction: column;
    align-items: center;
   
    width: 370px;
    height: 673px;

    background: #FFFFFF;
    box-shadow: 0px 4px 8px #436CFF;
    border-radius: 48px;

    padding-left: 70px;
    margin-left: 200px;
    padding-top: 40px;

}


.contenedorSubtituloCursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 228px;
    height: 50px;
    /*left: calc(50% - 228px/2 + 304px); */
    margin-left: -50px;

    background: linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%);
    opacity: 0.9;
    border-radius: 100px;
    
}

.subtituloCursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 228px;
    height: 50px;

    padding-left: -5px;
    

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;

    color: #000008;
}

.parrafoMentorias {
    width: 302px;
    height: 342px;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-top: -10px;

    /* gris */

    color: rgba(26, 26, 37, 0.6);
    
}

.parrafoCursos {
    width: 302px;
    height: 342px;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-left: -30px;
    margin-top: 35px;

    /* gris */

    color: rgba(26, 26, 37, 0.6);
    
}

.cajaSaberMas {
    display: flex;
    margin-top: 25px;
    margin-left: 55px;
}

.cajaSaberMasMentorias {
    display: flex;
    margin-top: -65px;
    margin-left: 75px;
}

.textoSaberMasWoman {
    display: flex;
    margin-top: 15px;
    margin-left: 55px;
}

.textoSaberMas {
    width: 152px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.fotoMan {
    display: flex;
    margin-top: -55px;
}

.fotoWoman {
    display: flex;
    margin-top: -145px;
}

.womanSevicios {
    display: flex;
    width: 305px;
    height: 256px;
    
    /*left: 871px;
    top: 2548px; */
}

.whatsappWoman {
    display: flex;
    margin-top: 10px;
    margin-left: 115px;
}

.whatsappMan {
    display: flex;
    margin-top: 10px;
    margin-left: 135px;
}

.numeroWhatsapp {
    text-decoration: none;
}





