.ULlist {
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
}

#iconosNav {
   display: none; 
}

.navList {
    list-style: none;
}

.logoLisandro {
    width: 186px;
    height: 85px;
}


.listadoNavbar {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 20px;
}

.inicioNavbar {
    font-weight: 700;
    font-size: 22px;
    line-height: 26,63px;
    /*padding-left: 738px; */
    top: 48px;
    width: 78px;
    height: 25px;
    text-decoration: none;
    color: #1A1A25 
}

.acercaDeMiNavbar {
    font-weight: 700;
    font-size: 22px;
    line-height: 29.96px;
    width: 141px;
    height: 30px;
    left: 878px; 
    top: 48px;
    text-decoration: none;
    color: #1A1A25
}

.serviciosNavbar {
    font-weight: 700;
    font-size: 22px;
    line-height: 29.96px;
    width: 97px;
    height: 30px;
    top: 48px;
    text-decoration: none;
    color: #1A1A25
}


.contactoNavbar {
    font-weight: 700;
    font-size: 22px;
    line-height: 29.96px;
    width: 100px;
    height: 30px;
    left: 1238px;
    top: 48px;  
    text-decoration: none;
    color: #1A1A25
}

.kgBKsi{
    right: 60px !important;
}
.cLsCLe{
    right: 60px !important;
}
.hyqPQT{
    padding: 0px !important;
}
.gIxFBY{
    z-index: 3;
}

@media (max-width: 412px){
    .logoLisandro {
        width: 140px;
        height: 70px;
    }
    .inicioNavbar{
        width: 78px;
        height: 25px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
    }
    .acercaDeMiNavbar{
        width: 78px;
        height: 25px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        padding: 0;
    }
    .serviciosNavbar{
        width: 78px;
        height: 25px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
    }
    .contactoNavbar{
        width: 78px;
        height: 25px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
    }
    .inicioNavbar span{
        color: #436CFF;
        font-size: 20px;
        margin-right: 2px;
    }
    .acercaDeMiNavbar span{
        color: #436CFF;
        font-size: 20px;
        margin-right: 2px;
        padding: 0;
    }
    .serviciosNavbar span{
        color: #436CFF;
        font-size: 20px;
        margin-right: 2px;
    }
    .contactoNavbar span{
        color: #436CFF;
        font-size: 20px;
        margin-right: 2px;
    }

    @media (max-width: 412px){
        .logoLisandro {
            width: 120px;
            height: 60px;
        }    
    }
}