.link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #1A1A25;

    list-style-type: none;
    }

.inicio {
    position: absolute;
    width: 78px;
    height: 25px;
    left: 738px;
    top: 48px;
    text-decoration: none;
    color: #1A1A25
}

.acercaDeMi {
    position: absolute;
    width: 141px;
    height: 30px;
    left: 878px;
    top: 48px;
    text-decoration: none;
    color: #1A1A25
}

.servicios {
    position: absolute;
    width: 97px;
    height: 30px;
    left: 1090px;
    top: 48px;
    text-decoration: none;
    color: #1A1A25
}

.contacto {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 1238px;
    top: 48px;
    text-decoration: none;
    color: #1A1A25
}

.logoLisandro {
    position: absolute;
    width: 186px;
    height: 85px;
    left: 81px;
    top: 32px;

    background: url('../../Imagenes/logo.png');
}