.footer{
    width: 100%;
    grid-area: footer;
    margin-top: 240px;
    margin-bottom: 50px;
}
.logoFooter{
    width: 186px;
    height: 85px;
}
.containerFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textoFooter{
    font-weight: 400;
    font-size: 16px;
    color: #000;
    font-family: 'Open Sans';
}


@media (max-width: 412px){
    .footer{
        height: auto;
        width: 100%;
        grid-area: footer;
        margin-top: 340px;
        margin-bottom: 50px;
    }
    .logoFooter{
        width: 54px;
        height: 30px;
    }
    .textoFooter{
        font-weight: 400;
        font-size: 10px;
        color: #000;
        font-family: 'Open Sans';
    }
    
}
